{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links o Archivos CSS-->
    {% block extrastatic %}
    
    {% endblock %}
  
    <link rel="stylesheet" href="{% static '/adopcion/css/bootstrap.min.css' %}">
    <title>{% block title %} Base {% endblock %}</title>
</head>
<body>

    <div class="container">

        {% block navbar %}
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand">
                <img src="/static/adopcion/img/animales.png" width="100px" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Inicio
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mascotas</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Catalogo</a>
                      <a class="dropdown-item" href="#">Perros</a>
                      <a class="dropdown-item" href="#">Gatos</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Ir Adopciones</a>
                    </div>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Adopciones</a>
                    </li>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                  </li>
                </ul>
                <form class="d-flex" data-dashlane-rid="a1e3c762779f9fcc" data-form-type="">
                  <input class="form-control me-sm-2" type="text" placeholder="Search" data-dashlane-rid="8f3850c92da6daaf" data-form-type="">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit" data-dashlane-rid="43a7d2b4c9faa0df" data-form-type="" data-dashlane-label="true">Search</button>
                </form>
              </div>
            </div>
          </nav>
        {%endblock%}

    </div>
    
    {% block content %}
      <h4>Contenido de la Base</h4>
    {% endblock %}

    <!-- Footer -->
    {% block footer %}
    {% endblock %}


    <!-- Links o Archivos JS -->
    
    <script src="{% static '/adopcion/js/bootstrap.min.js' %}"></script>

    {% block extrajs %}
    
    {% endblock %}

</body>
</html>